#navbar_top{
    z-index: 999;
}
.sidebar-bg{
    background: #000;
}

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
    transition: all .3s;
}

.sidebar .nav-link {
    font-weight: 500;
    font-size: 18px;
    color: #ffd;
    margin-bottom: 5px;
}
.sidebar .nav-link i{
    margin-right: 10px;
    color: #b30000;
}
.sidebar .nav-link:hover {
    color: #fff;
    background-color: #b30000;
    border-radius: 5px;
}
.sidebar .nav-link:hover i {
    color: #fff;
}
.sidebar .active {
    color: #fff !important;
    background-color: #b30000;
    border-radius: 5px;
}
.sidebar .active i{
    color: #fff !important;
}

.analytics{
    border-radius: 5px;
}
.analytics i {
    font-size: 80px;
    color: #ffffff38;
    position: absolute;
}
.analytics div{
    z-index: 1;
}
.analytics div h2{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.analytics div p{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}


.paginate_button {
    padding: 5px 10px;
    background: #0d6efd;
    color: #fff;
    margin: 3px;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
}
.paginate_button:hover {
    background: #005791;
    color: #fff;
}
.disabled{
    background: #ddd;
    color: #000;
}
.current{
    background: #005791;
    color: #fff;
}


.user_form{}
.user_form .input-group {}
.user_form .input-group .input-group-text {
    /* width: 175px; */
    font-size: 20px;
    font-weight: 600;
    background: #6c6c6c;
    padding: 5px;
    color: #fff;
}
.user_form .input-group .form-control {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}
.user_form .sub-btn {
    width: auto;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    background: rgb(0, 160, 75);
    color: #fff;
    margin: 0 auto;
}
.user_form .icon {
    position: relative;
    display: flex;
    margin: 0px 70px;
    border-radius: 500%;
    border: 3px solid #6c6c6c;
    align-items: center;
    justify-content: center;
    padding: 100px;
    margin-bottom: 50px;
    overflow: hidden;
}
.user_form .icon img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.user_form .icon i {
    font-size: 50px;
    color: #6c6c6c;
}

.table {}
.table tr {}
.table tr th {
    padding: 15px;
    font-size: 18px;
    font-weight: 900;
    background-color: #e6e6e6;
}
.table tr td {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}
.table tr td span {
    padding: 5px 8px !important;
    font-size: 13px;
    font-weight: 400;
    font-family: monospace;
    color: #fff !important;
}
.table tr td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Membership Page */
.member {
    text-align: center;
}
.member h1 {
    font-size: 30px;
    color: #484848;
}
.member .member-user {}
.member .member-user .user-image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid #9d9b9b;
}
.member .member-user .user-image img{
    width: 100%;
    height: 100%;
}
.member .member-user .user-data {
    border-left: 5px solid #aaa;
}
.member .member-user .user-data .table {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.member .member-user .user-data .table tr {
    border-style: solid;
    border-color: #ddd;
    border-width: 3px 0px;
}
.member .member-user .user-data .table tr td {
    padding: 15px;
}


.package {position: relative;}
.package .package-table {
    width: 100%;
    text-align: center;
}
.package #plusCustomPackage {
    position: absolute;
    left: 14px;
    top: 60%;
    border-radius: 50%;
    border: 1px solid #000;
    width: auto;
    font-size: 21px;
    background: #fff;
    padding: 5px;
    cursor: pointer;
}
.package .package-table tr{}
.package .package-table tr td {
    border: 1px solid #3e3e3e;
    padding: 25px 15px;
    font-size: 18px;
    font-weight: 500;
}

.package-selecet tr{
    background: rgb(248, 238, 146);
}
.customPackage{display: none;}
  
